/node_modules
/public/hot
/public/storage
/public/css/all.css
/public/css/app.css
/public/fonts
/public/js/all.js
/public/js/app.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/all.css
public/css/app.css
public/mix-manifest.json
public/js/all.js
public/js/app.js
public/css/all.css
